/* storyboard.css */
.storyboard-container {
  background-image: url('/Users/chenglin/Documents/techfest-2024/client/public/static/images/storyboard_bg.png');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
}

/* storyboard.css or inline styles */
.choice-text-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
  